
<div id="footer">
  <hr>
  <div class="container footer-cont">
    <div class="container footer-style">
      <div class="row hide">
        <div class="col-sm-2">
          <h6>Learn More</h6>
          <ul class="footer-ul">
            <li>How Paymee works</li>
            <li>What We Charge</li>
            <li>Contact Us</li>
          </ul>
        </div>
        <div class="col-sm-2">
          <h6>Company</h6>
          <ul class="footer-ul">
            <li>Culture</li>
            <li>Jobs</li>
          </ul>
        </div>
        <div class="col-sm-2">
          <h6>Community</h6>
          <ul class="footer-ul">
            <li>Help Center</li>
            <li>Developer</li>
          </ul>
        </div>
        <div class="col-sm-2">
          <h6>Terms</h6>
          <ul class="footer-ul">
            <li>Legal</li>
            <li>Privacy</li>
          </ul>
        </div>
        <div class="col-sm-2">
          <button type="button" class="big-btn btn-lg btn-google" name="button"><i class="fab fa-google-play"></i> Google Play</button>
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-outline-dark btn-lg" name="button"><i class="fab fa-apple"></i><b> Apple Store</b></button>
        </div>
      </div>
    </div>
      <div class="mobile-btn mobile">
      <button type="button" class="big-btn btn-lg btn-google" name="button"><i class="fab fa-google-play"></i> Google Play</button>
      <button type="button" class="btn btn-outline-dark btn-lg" name="button"><i class="fab fa-apple"></i><b> Apple Store</b></button>
      </div>
      <br>
      <p class="hide"> Paymee is a service brought to you by the Martians of Mar's Planet. We thank you for your subordination. All money transmission is through Martian, Inc. pursuant to Mar's Planet, Inc.’s licenses. © 2020 Paymee, Inc </p><p class="show"> © 2020 Paymee, Inc.</p>
  </div>
</div>

</body>
</html>
