<%- include('partials/header') %>


<!-- <div class="jumbotron"> -->
  <div class="container centered">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 main-img hide">
          <img src="images/phones.png" alt="">
        </div>
        <div class="col-lg-6">
          <h1>Get paid and pay other approved martians</h1>
          <br>
          <a class="big-btn btn btn-light btn-lg mobile" href="/signin" role="button">Login</a>
          <a class="big-btn btn btn-primary btn-lg" href="/register" role="button">Register</a>
        </div>

      </div>
    </div>


  </div>
<!-- </div> -->

<%- include('partials/footer') %>
